header {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: none;
    
    font-family: 'Poppins', sans-serif;
    transition: 0.6s;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 150px;
}
header * {
    transition: 0.6s;
}
header div span {
    margin: 0;
    padding: 5px 0 0;
    width: 35px;
    height: 0px;

    border: 1px solid #FFF;
    transform: rotate(-90deg);
}
header div a {
    margin: 0 25px;
    font-size: 32px;
    font-weight: 600;
    color: #F0F0F0;
}
